* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Workbench", serif;
    color: limegreen;
    background-color: black;
    font-variant: none;
    font-size: 1em;
}

h1 {
    margin: 2vh 1vw;
}

nav {
    margin: 2vh 1vw;
}

main {
    margin: 4vh 1vw;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: space-between;
}

aside {
    margin-left: 7vw;
}

a {
    font-style: none;
    color: limegreen;
    text-decoration: none;
    padding: 2vh 3vw;
}

button, a {
    width: 10vw;
    height: 7.5vh;
    border-radius: 0;
    border: 5px dashed limegreen;
    color: limegreen;
    background-color: black;
    font-family: "Workbench", serif;
    font-variant: none;
    font-size: 1em;
    cursor: pointer;
}

.playerButtons, #logs {
    margin-top: 2vh;
}

.stats {
    margin-top: 4vh;
}

.score {
    margin-top: 1vh;
}

#restart {
    margin-top: 4vh;
}

#logs > p {
    margin-top: 0.5vh;
}